<html>

<head>
  <title>Living Meta Analysis</title>
  <link href="/vendor/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css">
  <script src="/vendor/angular.min.js"></script>
  <script src="/vendor/angular-ui-router.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
</head>

<body ng-app="livingmetaanalysis">

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-static-top">

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="">Meta Analysis</a></li>
        <li><a href="">Add Data</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">My Account</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </nav>

  <div class="container">

    <div>
      <ui-view></ui-view>
    </div>

  </div>
  </div>
  </div>
  <script type="text/ng-template" id="/studies/create.html">
    <form ng-submit="addStudy()" class="form-horizontal">
      <fieldset>


        <!-- Form Name -->
        <legend>Add new study</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="title">Title</label>
          <div class="col-md-6">
            <input id="title" ng-model="title" name="title" type="text" placeholder="" class="form-control input-md" required="">
            <span class="help-block">Title of the article/study </span>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label" for="author">Authors</label>
          <div ng-repeat="author in authors track by $index">
            <input type="text" ng-model="author.name">
            <button ng-click="removeAuthor($index)">X</button>
          </div>
          <button ng-click="addAuthor()">Add Author</button>

          <div id="authorDisplay">
          {{authors}}
          </div>

        </div>


        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="year">Year Published</label>
          <div class="col-md-2">
            <input id="year" ng-model="year" name="year" type="text" placeholder="yyyy" class="form-control input-md">
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="addStudy"></label>
          <div class="col-md-4">
            <button id="addStudy" name="addStudy" class="btn btn-success">Add Study</button>
          </div>
        </div>

      </fieldset>
    </form>

  </script>

  <script type="text/ng-template" id="/home.html">
    <h1>Test Home Template</h1>
  </script>

  <script type="text/ng-template" id="/studies.html">
    <h1>Studies Home Template</h1>

    <div ng-repeat="study in studies">
      <a href="#/studies/{{study._id}}">  {{study.title}} </a>

    </div>
  </script>

  <script type="text/ng-template" id="/study.html">
    <h1>{{studies[0].title}}</h1> {{studies[0]}}
    <p>Authors: {{studies[0].author}}</p>

    <p>Year: {{studies[0].year}}</p>
    <h2> Experiments </h2>

    <button ng-click="showExperimentForm= !showExperimentForm">Add Experiment</button>
    <p ng-show="showExperimentForm">Form here!</p>
  </script>

  <script type="text/ng-template" id="/experiments.html">
    <h1>Experiments page</h1> {{experiments}}
  </script>
</body>

</html>
