<html>

<head>
  <title>Living Meta-analysis</title>
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/ng-tags-input.min.css">
  <script src="/vendor/angular.min.js"></script>
  <script src="/vendor/angular-ui-router.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script type="text/javascript" src="vendor/ng-tags-input.min.js"></script>
</head>

<body ng-app="livingmetaanalysis" class="loaded">

  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">LivingMetaAnalysis</a>
    </div>

    <div ng-controller="NavCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/search"><i class="fa fa-search fa-2x"></i></a></li>
        <li ng-show="isLoggedIn()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i  class="fa fa-plus fa-2x"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/metaanalyses/create">New Meta-analysis</a></li>
            <li><a href="#/studies/create">New Study</a></li>
          </ul>
        </li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
        <li ng-show="isLoggedIn()" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ currentUser() }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        </li>
        </ul>
    </div>
  </nav>

  <!-- ================================================
      Container for content
      ================================================ -->
  <div class="container">
    <ui-view></ui-view>
  </div>

  <footer class="footer">
    <div class="container">
      <ul class="list-inline pull-right">
        <li><a href="#/help">Help</a></li>
        <li><a href="#/api">API Documentation</a></li>
      </ul>
    </div>
  </footer>
  <!-- ================================================
      Scripts
      ================================================ -->

  <!-- jQuery Library -->
  <script src="vendor/jquery-2.2.0.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>

  <script type="text/ng-template" id="/register.html">

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()" style="margin-top:30px;">
      <h3>Register</h3>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary pull-right">Register</button>
    </form>
  </script>

  <!-- ================================================
      Templates
      ================================================ -->

  <script type="text/ng-template" id="/login.html">

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()" style="margin-top:30px;">
      <h3>Log In</h3>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-success pull-right">Log In</button>
    </form>
  </script>

  <!-- ================================================
      Home template
      ================================================ -->

  <script type="text/ng-template" id="/home.html">
    <div ng-show="user != null" class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title pull-left">
            Your Meta-Analyses <span class="badge">{{userMetaAnalyses.length}}</span>
          </h3>
          <a type="button" class="btn btn-success pull-right" href="#/metaanalyses/create">
            <i class="fa fa-plus"></i> New Meta-analysis
          </a>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <ul>
            <li ng-repeat="userMetaAnalysis in userMetaAnalyses"><a ng-href="#/metaanalyses/{{userMetaAnalysis._id}}">{{userMetaAnalysis.title}}</a></li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title pull-left">Studies you have contributed data to   <span class="badge">{{userStudies.length}}</span></h3>
          <a type="button" class="btn btn-success pull-right" href="#/studies/create"><i class="fa fa-plus"></i> New Study</a>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <ul>
            <li ng-repeat="study in userStudies">
              <a href="#/studies/{{study._id}}" data-toggle="tooltip" data-placement="top" title="{{study.title}} ({{study.author}}, {{study.year}})" onmouseenter="$(this).tooltip('show')">
                {{study.title}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </script>

  <!-- ================================================
      Create Meta-analysis template
      ================================================ -->
  <script type="text/ng-template" id="metaanalyses/create.html">
    <div ng-submit="createMetaAnalysis()" class="row">
      <form class="form-horizontal">
        <fieldset>
          <legend>Create a new meta-analysis</legend>
          <div class="form-group">
            <label class="col-md-4 control-label" for="title">Title</label>
            <div class="col-md-6">
              <input id="title" name="title" ng-model="title" type="text" placeholder="title of meta-analysis" class="form-control input-md" required="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="description">Description</label>
            <div class="col-md-4">
              <textarea class="form-control" id="description" ng-model="description" name="description" required=""></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="tags">Tags</label>
            <div class="col-md-6">
              <tags-input ng-model="tags" min-length="1" placeholder="Add at least one tag"></tags-input>
            </div>
          </div>

          <div class="form-group pull-right">
            <label class="col-md-4 control-label" for="create"></label>
            <div class="col-md-4">
              <button id="create" name="create" class="btn btn-success"><i class="fa fa-plus"></i> Create</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </script>

  <!-- ================================================
      View Meta-analysis template
      ================================================ -->
  <script type="text/ng-template" id="/metaanalysis.html">
    <h1>{{metaAnalysis.title}}
    <a href="api/metaanalyses/{{metaAnalysis._id}}" class="btn btn-success pull-right">Apply Statistics <i class="fa fa-arrow-right"></i></a>
    </h1>

    <div class="well">
      <p>{{ metaAnalysis.description }}</p>
    </div>

    <div class="row">
      <button class="btn btn-success" data-toggle="modal" data-target="#addPropertyToMetaAnalysisModal"><i class="fa fa-plus"></i> Add Property</button>


      <button type="button" class="btn btn-success pull-right" ng-click="toggleNewStudyForm()">
        <i class="fa fa-plus"></i> Add new study
      </button>

      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addExistingStudyModal">
        <i class="fa fa-search"></i> Search for existing studies
      </button>

    </div>
    <h1></h1>
    <div ng-show="newStudyForm" class="well" <div ng-controller="StudiesCtrl">
      <button class="btn btn-primary pull-right" ng-click="toggleNewStudyForm()"><i class="fa fa-close"> </i></button>
      <form class="form-horizontal">
        <fieldset>
          <legend>Add new study</legend>

          <div class="form-group">
            <label class="col-md-4 control-label" for="title">Study Identifier/Shortname</label>
            <div class="col-md-6">
              <input id="identifier" name="identifier" ng-model="identifier" type="text" placeholder="enter an id or shortname for the study" class="form-control input-md" required="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="title">Title</label>
            <div class="col-md-6">
              <input id="title" name="title" ng-model="title" type="text" placeholder="title of article/study/experiment" class="form-control input-md" required="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="author">Author</label>
            <div class="col-md-6">
              <input id="author" name="author" ng-model="author" type="text" placeholder="author" class="form-control input-md" required="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="link">Link to study/article</label>
            <div class="col-md-6">
              <input id="link" name="link" ng-model="link" type="text" placeholder="link" class="form-control input-md" required="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="year">Year</label>
            <div class="col-md-2">
              <input id="year" name="year" ng-model="year" type="text" placeholder="yyyy" class="form-control input-md" required="" [ng-pattern="[0-9]{4}" ]>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="tags">Tags</label>
            <div class="col-md-6">
              <tags-input ng-model="tags" min-length="1" placeholder="Add at least one tag"></tags-input>
            </div>
          </div>

          <button type="submit" class="btn btn-success pull-right" ng-click="addStudy()" data-dismiss="modal"><i class="fa fa-plus"></i> Add Study</button>
        </fieldset>
      </form>
    </div>
    </div>

    <!-- Meta-analysis table HTML -->
    <div class="row table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Properties</th>
          <th ng-repeat="study in studies">
            <a href="#/studies/{{study._id}}" data-toggle="tooltip" data-placement="top" title="{{study.title}} ({{study.author}}, {{study.year}})" onmouseenter="$(this).tooltip('show')">{{study.identifier}}</a>
            <button class="btn btn-warning btn-sm" ng-click="removeStudyFromMetaAnalysis(study)"><i class="fa fa-minus"></i></button>
          </th>
        </tr>
        <tr ng-repeat="property in properties">
          <td>
            <button class="btn btn-warning btn-sm" ng-click="removePropertyFromMetaAnalysis(property)"><i class="fa fa-minus"></i></button> {{property}}</td>
          <td ng-repeat="study in studies">
            <span ng-if="getStudyProperty(study,property) != null" data-toggle="tooltip" data-placement="top" title="{{getStudyPropertyComment(study, property)}}" onmouseenter="$(this).tooltip('show')">
                {{getStudyProperty(study,property)}}
            </span>
            <span ng-if="getStudyProperty(study,property) == null"><i ng-click="setupStudyPropertyScope(study, property)" data-toggle="modal" data-target="#addPropertyToStudyModal" class="fa fa-plus"> </i></span>
          </td>
        </tr>
      </table>

    </div>
    </div>

    <!-- Add existing study modal -->
    <div class="modal fade" id="addExistingStudyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addExistingStudyModal">Search for existing studies</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <div ng-controller="StudiesCtrl">
                <section class="searchField">
                  <form>
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="searchTerm">
                      <span class="input-group-btn">
                         <button class="btn btn-default" type="button" ng-click="search()">Search by tag
                         <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </form>
                </section>

                <section>
                  <ul ng-show="searchResults.length > 0">
                    <li ng-repeat="study in searchResults">
                      <a href="#/studies/{{study._id}}" data-toggle="tooltip" data-placement="top" title="{{study.title}} ({{study.author}}, {{study.year}})" onmouseenter="$(this).tooltip('show')" onclick="$('#addExistingStudyModal').modal('hide')"> {{study.title}}</a>
                      <button ng-show="!studyInMetaAnalysis(study)" class="btn btn-success btn-sm" ng-click="addStudyToMetaAnalysis(study)"><i class="fa fa-plus"></i></button>
                    </li>
                  </ul>
                  <p ng-show="searchResults.length == 0">No studies match that tag.</p>
                </section>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add property to study modal -->
    <div class="modal fade" id="addPropertyToStudyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addPropertyToStudyModal">Add property to study</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="study">Study</label>
                  <div class="col-md-5">
                    <input id="study" name="study" type="text" value="{{study.title}}" readonly="true" class="form-control input-md" required="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="property">Property</label>
                  <div class="col-md-5">
                    <input id="property" name="property" type="text" value="{{property}}" readonly="true" class="form-control input-md">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="value">Value</label>
                  <div class="col-md-5">
                    <input id="value" name="value" type="text" ng-model="value" class="form-control input-md">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="comment">Comment</label>
                  <div class="col-md-5">
                    <input id="comment" name="comment" type="text" ng-model="comment" class="form-control input-md">
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addPropertyToStudy()">Add Property</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add property to meta-analysis -->
    <div class="modal fade" id="addPropertyToMetaAnalysisModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addPropertyToMetaAnalysisModal">Add property to meta-analysis</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <fieldset>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="newProperty">Property</label>
                  <div class="col-md-5">
                    <input id="newProperty" name="newProperty" ng-model="newProperty" type="text" class="form-control input-md" required="">
                  </div>
                </div>
              </fieldset>
            </form>
            <h4>Existing Properties</h4>
            <ul>
              <li ng-repeat="existingProperty in existingProperties track by $index" ng-click="$parent.newProperty = existingProperty">{{existingProperty}}</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addPropertyToMetaAnalysis()">Add Property</button>
          </div>
        </div>
      </div>
    </div>
  </script>

  <!-- ================================================
      View Study template
      ================================================ -->

  <script type="text/ng-template" id="/study.html">
    <h1>{{study.title}}</h1>
    <p>Identifier: {{study.identifier}}</p>
    <p>Author : {{study.author}} </p>
    <p>Year published: {{study.year}} </p>
    <p>Link: <a href={{study.link}}>{{study.link}}</a> </p>


    <div class="row table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Property</th>
          <th>Value</th>
          <th>Comment</th>
          <th>Added By</th>
        </tr>
        <tr ng-repeat="property in study.derivedData">
          <td>{{property.property}}</td>
          <td>{{property.value}}</td>
          <td>{{property.comment}}</td>
          <td>{{property.addedBy}}</td>
        </tr>
      </table>
    </div>

    <div class="well">
      <form ng-submit="addStudyData()" class="form-horizontal">
        <fieldset>
          <legend>Add property to study</legend>
          <div class="form-group">
            <label for="property">Property</label>
            <input class="form-control" ng-model="property" id="property" type="text" required="" />
          </div>
          <div class="form-group">
            <label for="value">Value</label>
            <input class="form-control" id="value" ng-model="value" type="text" required="" />
          </div>
          <div class="form-group">
            <label for="Comment">Comment</label>
            <input class="form-control" ng-model="comment" id="comment" type="text" />
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success pull-right"><i class="fa fa-plus"></i>Add Property</button>
          </div>

        </fieldset>
      </form>
    </div>
  </script>

  <!-- ================================================
      Create Study template
      ================================================ -->

  <script type="text/ng-template" id="studies/create.html">
    <form ng-submit="addStudy()" class="form-horizontal">
      <fieldset>
        <legend> Add new study</legend>

        <div class="form-group">
          <label class="col-md-4 control-label" for="identifier">Identifier / Shortname</label>
          <div class="col-md-6">
            <input id="identifier" name="identifier" ng-model="identifier" type="text" placeholder="enter an id or shortname for the study" class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="title">Title</label>
          <div class="col-md-6">
            <input id="title" name="title" ng-model="title" type="text" placeholder="title of article/study/experiment" class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="author">Author</label>
          <div class="col-md-6">
            <input id="author" name="author" ng-model="author" type="text" placeholder="author" class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="link">Link to study/article</label>
          <div class="col-md-6">
            <input id="link" name="link" ng-model="link" type="text" placeholder="link" class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="year">Year</label>
          <div class="col-md-2">
            <input id="year" name="year" ng-model="year" type="text" placeholder="yyyy" class="form-control input-md" required="" [ng-pattern="[0-9]{4}" ]>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="tags">Tags</label>
          <div class="col-md-6">
            <tags-input ng-model="tags" min-length="1" placeholder="Add at least one tag"></tags-input>
          </div>
        </div>

        <button type="submit" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Add study</button>
      </fieldset>
    </form>
  </script>

  <!-- ================================================
      Search template
      ================================================ -->
  <script type="text/ng-template" id="search.html">
    <div class="row">
      <form ng-submit="search()">
        <div class="input-group">
          <input type="text" class="form-control input-sm" ng-model="searchTerm" placeholder="Search by tag" />
          <span class="input-group-btn">
                <button class="btn btn-success" type="submit">
                  <span class=" fa fa-search"></span>
          </button>
          </span>
        </div>
      </form>
    </div>
    <div class="row">
      <h1>Studies</h1>
      <ul ng-show="studiesResults.length > 0">
        <li ng-repeat="study in studiesResults">
          <a href="#/studies/{{study._id}}" data-toggle="tooltip" data-placement="top" title="{{study.title}} ({{study.author}}, {{study.year}})" onclick="$('#addExistingStudyModal').modal('hide')"> {{study.title}}</a>
        </li>
      </ul>
      <p ng-show="studiesResults.length == 0">No studies match that tag.</p>
    </div>

    <div class="row">
      <h1>Meta-analyes</h1>
      <ul ng-show="searchResults.length > 0">
        <li ng-repeat="study in studyResults">
          <a href="#/studies/{{study._id}}" data-toggle="tooltip" data-placement="top" title="{{study.title}} ({{study.author}}, {{study.year}})" onclick="$('#addExistingStudyModal').modal('hide')"> {{study.title}}</a>
        </li>
      </ul>
      <p ng-show="searchResults.length == 0">No studies match that tag.</p>
    </div>
  </script>

  <!-- ================================================
      Help template
      ================================================ -->
  <script type="text/ng-template" id="help.html">
    <h1>Help</h1>
    <div class="row">
      <h3>How to create a meta-analysis</h3>
      <ul class="list-unstyled">
        <li>1. <a href="#/metaanalyses/create">Create a new meta-analysis</a>.</li>
        <li>2. Add properties relevant to the meta-analysis.</li>
        <li>3. Search for existing studys to be included in the meta-analysis.</li>
        <li>4. Populate any missing study properties.</li>
        <li>5. <a href="#/studies/create">Add new studies</a>.</li>
        <li>6. Apply statistics to the meta-analysis.</li>
      </ul>
    </div>
  </script>

  <!-- ================================================
      API documentation template
      ================================================ -->
  <script type="text/ng-template" id="api.html">
    <h1>API Documentation</h1>
    <div class="row">
      <table class="table">
        <tr>
          <th>Method</th>
          <th>URL</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><span class="label label-default">GET</span></td>
          <td><a href="/api/studies">/api/studies</a></td>
          <td>Returns a list of all studies</td>
        </tr>

        <tr>
          <td><span class="label label-default">POST</span></td>
          <td><a href="/api/studies">/api/studies</a></td>
          <td>Creates a new study</td>
        </tr>
        <tr>
          <td><span class="label label-default">GET</span></td>
          <td><a href="/api/studies/:id">/api/studies/{id}</a></td>
          <td>Returns the study with the given ID</td>
        </tr>
        <tr>
          <td><span class="label label-default">PUT</span></td>
          <td><a href="/api/studies/:id/derivedData">/api/studies/{id}/derivedData</a></td>
          <td>Adds new properties to the specified study</td>
        </tr>
        <tr>
          <td><span class="label label-default">GET</span></td>
          <td><a href="/api/studies/tag/:tag">/api/studies/tag/{tag}</a></td>
          <td>Returns all studies with the specified tag</td>
        </tr>
        <tr>
          <td><span class="label label-default">GET</span></td>
          <td><a href="/api/metaanalyses">/api/metaanalyses</a></td>
          <td>Returns all meta-analyses</td>
        </tr>
        <tr>
          <td><span class="label label-default">POST</span></td>
          <td><a href="/api/metaanalyses">/api/metaanalyses</a></td>
          <td>Creates a new meta-analysis</td>
        </tr>
        <tr>
          <td><span class="label label-default">GET</span></td>
          <td><a href="/api/metaanalyses/:id">/api/metaanalyses/{id}</a></td>
          <td>Returns the meta-analysis with the given ID</td>
        </tr>
        <tr>
          <td><span class="label label-default">GET</span></td>
          <td><a href="/api/user/:username/metaanalyses">/api/user/{username}/metaanalyses</a></td>
          <td>Returns all meta-analyses belonging to the specified user</td>
        </tr>
        <tr>
          <td><span class="label label-default">GET</span></td>
          <td><a href="/api/user/:username/metaanalyses">/api/user/{username}/studies</a></td>
          <td>Returns all study properties added by the specified user</td>
        </tr>
      </table>
    </div>
  </script>
</body>

</html>
