<html>

<head>
  <title>Living Meta Analysis</title>
  <link href="/vendor/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script src="/vendor/angular.min.js"></script>
  <script src="/vendor/angular-ui-router.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
</head>

<body ng-app="livingmetaanalysis">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">Living Meta Analysis</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a href="#/studies"><i class="fa fa-book"></i>Studies</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="#/studies"><i class="fa fa-flask"></i>Experiments</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href=""><i class="fa fa-line-chart"></i>Meta Analyses</a></li>
        </ul>
      </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <ui-view></ui-view>
    </div>

  </div>
  </div>
  </div>
  <script type="text/ng-template" id="/studies/create.html">
    <form ng-submit="addStudy()" class="form-horizontal">
      <fieldset>


        <!-- Form Name -->
        <legend>Add new study</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="title">Title</label>
          <div class="col-md-6">
            <input id="title" ng-model="title" name="title" type="text" placeholder="" class="form-control input-md" required="">
            <span class="help-block">Title of the article/study </span>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label" for="author">Authors</label>
          <div ng-repeat="author in authors track by $index">
            <input type="text" ng-model="author.author">
            <button ng-click="removeAuthor($index)">X</button>
          </div>
          <button ng-click="addAuthor()">Add Author</button>

          <div id="authorDisplay">
          {{authors}}
          </div>

        </div>


        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="year">Year Published</label>
          <div class="col-md-2">
            <input id="year" ng-model="year" name="year" type="text" placeholder="yyyy" class="form-control input-md">
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="addStudy"></label>
          <div class="col-md-4">
            <button id="addStudy" name="addStudy" class="btn btn-success">Add Study</button>
          </div>
        </div>

      </fieldset>
    </form>

  </script>

  <script type="text/ng-template" id="/home.html">
    <h1>Test Home Template</h1>
  </script>

  <script type="text/ng-template" id="/studies.html">
    <h1>Studies Home Template</h1>

    <div ng-repeat="study in studies">
      <a href="#/studies/{{study._id}}">  {{study.title}} </a>

    </div>
  </script>

  <script type="text/ng-template" id="/study.html">
    <p>Blah : {{study}}</p>
    <p>Authors: </p>

    <p>Year: </p>
    <h2> Experiments </h2>

    <button ng-click="showExperimentForm= !showExperimentForm">Add Experiment</button>
    <p ng-show="showExperimentForm">Form here!</p>
  </script>

  <script type="text/ng-template" id="/experiments.html">
    <h1>Experiments page</h1> {{experiments}}
  </script>
</body>

</html>
