<html>

<head>
  <title>Living Meta Analysis</title>
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/materialize.min.css">
  <link rel="stylesheet" media="screen" href="vendor/handsontable.full.min.css">
  <script src="/vendor/angular.min.js"></script>
  <script src="/vendor/angular-ui-router.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script src="vendor/handsontable.full.min.js"></script>
  <script src="vendor/ngHandsontable.min.js"></script>

</head>

<body ng-app="livingmetaanalysis" class="loaded">
  <div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>

  <!-- START HEADER -->
  <header id="header" class="page-topbar">
    <div class="navbar-fixed">
      <nav class="cyan">
        <div class="nav-wrapper">

          <ul class="left">
            <li>Living Meta Analysis</li>
          </ul>

          <ul class="right hide-on-med-and-down">
            <li>Joe Bloggs</li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- END HEADER -->

  <!-- START MAIN -->
  <div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
      <!-- START LEFT SIDEBAR NAV-->
      <aside id="left-sidebar-nav">
        <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="left: 0px; height: 1045px;">

          <li class="bold"><a href="#/home" class="waves-effect waves-cyan"><i class="fa fa-home"></i>Home</a>
          </li>
          <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="fa fa-book"></i>Studies</a>
                <div class="collapsible-body" style="">
                  <ul>
                    <li><a href="#/studies/create"><i class="fa fa-plus"></i>Add Study</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="fa fa-flask"></i>Experiments</a>
                <div class="collapsible-body" style="">
                  <ul>
                    <li><a href="#/"><i class="fa fa-plus"></i> Add Experiment</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a href="#/metaanalysis" class="collapsible-header  waves-effect waves-cyan"><i class="fa fa-line-chart"></i>Meta-Analyses</a>
                <div class="collapsible-body" style="">
                  <ul>
                    <li><a href="#/metaanalyses/create"><i class="fa fa-plus"></i>New</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
      </aside>
      <!-- END LEFT SIDEBAR NAV-->

      <!-- START CONTENT -->
      <section id="content">
        <!--start container-->
        <div class="container">
          <ui-view></ui-view>
        </div>
      </section>
      <!-- END CONTENT -->

    </div>
    <!-- END WRAPPER -->

  </div>
  <!-- END MAIN -->

  <!-- ================================================
      Scripts
      ================================================ -->

  <!-- jQuery Library -->
  <script src="vendor/jquery-2.2.0.min.js"></script>

  <!--materialize js-->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

  <div class="hiddendiv common"></div>
  <div class="drag-target" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); right: 0px;"></div>
  <div class="drag-target" style="right: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></div>

  <script type="text/ng-template" id="/studies/create.html">
    <form ng-submit="addStudy()" class="form-horizontal">
      <fieldset>


        <!-- Form Name -->
        <legend>Add new study</legend>

        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="title" type="title" class="validate">
                <label for="title">Title of Study</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <input id="" type="" class="validate">
                <label for=""></label>
              </div>
            </div>
          </form>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="title">Title</label>
            <div class="col-md-6">
              <input id="title" ng-model="title" name="title" type="text" placeholder="" class="form-control input-md" required="">
              <span class="help-block">Title of the article/study </span>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-4 control-label" for="author">Authors</label>
            <div ng-repeat="author in authors track by $index">
              <input type="text" ng-model="author.author">
              <button ng-click="removeAuthor($index)">X</button>
            </div>
            <button ng-click="addAuthor()">Add Author</button>

            <div id="authorDisplay">
              {{authors}}
            </div>

          </div>


          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="year">Year Published</label>
            <div class="col-md-2">
              <input id="year" ng-model="year" name="year" type="text" placeholder="yyyy" class="form-control input-md">
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="addStudy"></label>
            <div class="col-md-4">
              <button id="addStudy" name="addStudy" class="btn btn-success">Add Study</button>
            </div>
          </div>

      </fieldset>
    </form>

  </script>

  <script type="text/ng-template" id="/home.html">
    <h1>Test Home Template</h1>
  </script>

  <script type="text/ng-template" id="/studies.html">
    <h1>Studies Home Template</h1>

    <div ng-repeat="study in studies">
      <a href="#/studies/{{study._id}}">  {{study.title}} </a>

    </div>
  </script>

  <script type="text/ng-template" id="/study.html">
    <p>Blah : {{study}}</p>
    <p>Authors: </p>

    <p>Year: </p>
    <h2> Experiments </h2>

    <button ng-click="showExperimentForm= !showExperimentForm">Add Experiment</button>
    <p ng-show="showExperimentForm">Form here!</p>
  </script>

  <script type="text/ng-template" id="/experiments.html">
    <h1>Experiments page</h1> {{experiments}}
  </script>


  <script type="text/ng-template" id="metaanalyses/create.html">
    <h1> Create Meta-Analysis </h1>

    <div ng-submit="newMetaAnalysis()" class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="title" ng-model="title" type="text" class="validate">
            <label for="title">Title of Meta-Analysis</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="description" ng-model="description" class="materialize-textarea"></textarea>
            <label for="description">Description</label>
          </div>
        </div>
        <button class="waves-effect waves-light btn center-align"><i class="fa fa-plus"></i> Create</button>
      </form>
    </div>

  </script>

  <script type="text/ng-template" id="/metaanalysis.html">
    <h1> Add Data to Meta-Analysis </h1>
    <h2>Title: {{ metaAnalysis.title}} </h2>
    <p>Description: {{ metaAnalysis.description }}</p>
    <hot-table settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows" datarows="items">
    </hot-table>

    <h1></h1>
    <a class="waves-effect waves-light btn" ng-click="addStudy()"><i class="fa fa-plus"></i> Add Study</a>
    <a class="waves-effect waves-light btn" ng-click="addInterpretation()"><i class="fa fa-plus"></i> Add Interpretation</a>
    <a class="waves-effect waves-light btn" ng-click="updateMetaAnalysis()">Save</a>
    <a class="waves-effect waves-light btn" ng-click="log()">log</a>

  </script>


</body>

</html>
