<html>

<head>
  <title>Living Meta Analysis</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>
</head>

<body ng-app="livingmetaanalysis">

     <!-- Fixed navbar -->
     <nav class="navbar navbar-default navbar-static-top">

         <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
             <li><a href="#">Home</a></li>
              <li><a href="">Meta Analysis</a></li>
              <li><a href="">Add Data</a></li>

           </ul>
           <ul class="nav navbar-nav navbar-right">
             <li><a href="">My Account</a></li>
           </ul>
         </div><!--/.nav-collapse -->
     </nav>

     <div class="container">

       <div>
          <ui-view></ui-view>
       </div>

     </div>
    </div>
  </div>
  <script type="text/ng-template" id="/studies/create.html">
      <h1>Create studies template</h1>
  </script>

  <script type="text/ng-template" id="/home.html">
      <h1>Test Home Template</h1>
  </script>
</body>

</html>
