<html>

<head>
  <title>Living Meta Analysis</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" media="screen" href="vendor/handsontable.full.min.css">
  <link rel="stylesheet" href="vendor/ng-tags-input.min.css">
  <script src="/vendor/angular.min.js"></script>
  <script src="/vendor/angular-ui-router.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script src="vendor/handsontable.full.min.js"></script>
  <script src="vendor/ngHandsontable.min.js"></script>
  <script type="text/javascript" src="vendor/ng-tags-input.min.js"></script>
</head>

<body ng-app="livingmetaanalysis" class="loaded">

  <nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">LivingMetaAnalysis</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="search"><i class="fa fa-search fa-2x"></i></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i  class="fa fa-plus fa-2x"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">New Meta-analysis</a></li>
            <li><a href="#/studies/create">New Study</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Joe Bloggs <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <ui-view></ui-view>
  </div>

  <!-- ================================================
      Scripts
      ================================================ -->

  <!-- jQuery Library -->
  <script src="vendor/jquery-2.2.0.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>

  <script type="text/ng-template" id="/home.html">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title pull-left">
            <a href="#/metaanalyses">Your Meta-Analyses</a>
          </h3>
          <a type="button" class="btn btn-success pull-right" href="#/metaanalyses/create">
            <i class="fa fa-plus"></i> New Meta-analysis
          </a>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <ul>
            <li ng-repeat="userMetaAnalysis in userMetaAnalyses"><a ng-href="#/metaanalyses/{{userMetaAnalysis._id}}">{{userMetaAnalysis.title}}</a></li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title pull-left">Studies you have contributed to</h3>
          <a type="button" class="btn btn-success pull-right" href="#/studies/create"><i class="fa fa-plus"></i> New Study</a>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">
          <ul>
            <li ng-repeat="study in userStudies"><a href="#/studies/{{study._id}}">{{study.title}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="metaanalyses/create.html">

    <div ng-submit="newMetaAnalysis()" class="row">
      <form class="form-horizontal">
        <fieldset>
          <legend>Create new meta-analysis</legend>
          <div class="form-group">
            <label class="col-md-4 control-label" for="title">Title</label>
            <div class="col-md-6">
              <input id="title" name="title" ng-model="title" type="text" placeholder="title of meta-analysis" class="form-control input-md" required="">
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="description">Description</label>
            <div class="col-md-4">
              <textarea class="form-control" id="description" ng-model="description" name="description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="tags">Tags</label>
            <div class="col-md-6">
              <tags-input ng-model="tags"></tags-input>
            </div>
          </div>

          <div class="form-group pull-right">
            <label class="col-md-4 control-label" for="create"></label>
            <div class="col-md-4">
              <button id="create" name="create" class="btn btn-success"><i class="fa fa-plus"></i> Create</button>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </script>

  <script type="text/ng-template" id="/metaanalysis.html">
    <h1>{{metaAnalysis.title}}
    <button ng-click="log()" class="btn btn-success pull-right">Apply Statistics <i class="fa fa-arrow-right"></i></button>
    </h1>

    <div class="well">
      <p>{{ metaAnalysis.description }}</p>
    </div>

    <div class="row">
      <button class="btn btn-success"><i class="fa fa-plus"></i> Add Property</button>

      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addNewStudyModal">
        <i class="fa fa-plus"></i> Add new study
      </button>

      <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addExistingStudyModal">
        <i class="fa fa-search"></i> Search for existing studies
      </button>
    </div>

    <div class="row">
      <table style="width:100%">
        <tr>
          <th>Properties</th>
          <th ng-repeat="study in studies"><a href="#/studies/{{study._id}}">{{study.title}}</a>
            <button class="btn btn-warning btn-sm"><i class="fa fa-minus"></i></button>
          </th>
        </tr>
        <tr ng-repeat="property in properties">
          <td>
            <button class="btn btn-warning btn-sm"><i class="fa fa-minus"></i></button> {{property}}</td>
          <td ng-repeat="study in studies">
            <span ng-if="getStudyProperty(study,property) != null" data-toggle="tooltip" data-placement="top" title="{{getStudyProperty(study,property).comment}}" onmouseenter="$(this).tooltip('show')">
                {{getStudyProperty(study,property)}}
          </span>
            <span ng-if="getStudyProperty(study,property) == null"><i ng-click="setupStudyPropertyScope(study, property)" data-toggle="modal" data-target="#addPropertyToStudyModal" class="fa fa-plus"> </i></span>
          </td>
        </tr>
      </table>
    </div>

    <!-- Add new study modal -->
    <div class="modal fade" id="addNewStudyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addNewStudyModal">Add new study</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <fieldset>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="title">Title</label>
                  <div class="col-md-6">
                    <input id="title" name="title" ng-model="title" type="text" placeholder="title of article/study/experiment" class="form-control input-md" required="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="author">Author</label>
                  <div class="col-md-6">
                    <input id="author" name="author" ng-model="author" type="text" placeholder="author" class="form-control input-md" required="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="link">Link</label>
                  <div class="col-md-6">
                    <input id="link" name="link" ng-model="link" type="text" placeholder="link" class="form-control input-md" required="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="year">Year</label>
                  <div class="col-md-2">
                    <input id="year" name="year" ng-model="year" type="text" placeholder="yyyy" class="form-control input-md" required="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-4 control-label" for="tags">Tags</label>
                  <div class="col-md-6">
                    <tags-input ng-model="tags"></tags-input>
                  </div>
                </div>

              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" ng-click="addNewStudy()" data-dismiss="modal"><i class="fa fa-plus"></i> Add Study</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Add existing study modal -->
    <div class="modal fade" id="addExistingStudyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addExistingStudyModal">Search for existing studies</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <div ng-controller="StudiesCtrl">
                <section class="searchField">
                  <form>
                    <div class="input-group">
                      <input type="text" class="form-control" ng-model="searchTerm">
                      <span class="input-group-btn">
                         <button class="btn btn-default" type="button" ng-click="search()">Search by tag
                         <i class="fa fa-search"></i>
                        </button>
                      </span>
                    </div>
                  </form>
                </section>

                <section>
                  <ul>
                    <li ng-repeat="study in searchResults">
                      <a href="#/studies/{{study._id}}" onclick="$('#addExistingStudyModal').modal('hide')"> {{study.title}}</a>
                      <button class="btn btn-success btn-sm" ng-click="addStudyToMetaAnalysis()"><i class="fa fa-plus"></i></button>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- Add property to study modal -->
      <div class="modal fade" id="addPropertyToStudyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="addPropertyToStudyModal">Add property to study</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="study">Study</label>
                    <div class="col-md-5">
                      <input id="study" name="study" type="text" value="{{study.title}}" readonly="true" class="form-control input-md" required="">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="property">Property</label>
                    <div class="col-md-5">
                      <input id="property" name="property" type="text" value="{{property}}" readonly="true" class="form-control input-md">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="value">Value</label>
                    <div class="col-md-5">
                      <input id="value" name="value" type="text" ng-model="value" class="form-control input-md">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-4 control-label" for="comment">Comment</label>
                    <div class="col-md-5">
                      <input id="comment" name="comment" type="text" ng-model="comment" class="form-control input-md">
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="addPropertyToStudy()">Add Property</button>
            </div>
          </div>
        </div>
  </script>

  <script type="text/ng-template" id="/study.html">
    <h1>{{study.title}}</h1>
    <p>Author : {{study.author}} </p>
    <p>Year published: {{study.year}} </p>
    <p>Link: <a href={{study.link}}>{{study.link}}</a> </p>
    <hot-table col-headers="true" datarows="derivedData">
      <hot-column data="property" title="'Property'" read-only></hot-column>
      <hot-column data="value" title="'Value'" read-only></hot-column>
      <hot-column data="comment" title="'Comment'" read-only></hot-column>
      <hot-column data="addedBy" title="'Added By User'" read-only></hot-column>
    </hot-table>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStudyData">
      <i class="fa fa-plus"></i> Add study data
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addStudyData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addNewStudyModal">Add data to study</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <form class="form-horizontal">
                <fieldset>
                  <div class="col-md-6 form-group">
                    <label for="property">Property</label>
                    <input class="form-control" ng-model="property" id="property" type="text" />
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="value">Value</label>
                    <input class="form-control" id="value" ng-model="value" type="text" />
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="Comment">Comment</label>
                    <input class="form-control" ng-model="comment" id="comment" type="text" />
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" ng-click="addStudyData()" data-dismiss="modal"><i class="fa fa-plus"></i>Add Property</button>
            </div>
          </div>
        </div>
  </script>

  <script type="text/ng-template" id="studies/create.html">
    <form class="form-horizontal">
      <fieldset>
        <legend> Add new study</legend>
        <div class="form-group">
          <label class="col-md-4 control-label" for="title">Title</label>
          <div class="col-md-6">
            <input id="title" name="title" ng-model="title" type="text" placeholder="title of article/study/experiment" class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="author">Author</label>
          <div class="col-md-6">
            <input id="author" name="author" ng-model="author" type="text" placeholder="author" class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="link">Link</label>
          <div class="col-md-6">
            <input id="link" name="link" ng-model="link" type="text" placeholder="link" class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="year">Year</label>
          <div class="col-md-2">
            <input id="year" name="year" ng-model="year" type="text" placeholder="yyyy" class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="tags">Tags</label>
          <div class="col-md-6">
            <tags-input ng-model="tags"></tags-input>
          </div>
        </div>

        <button class="btn btn-success pull-right" ng-click="addStudy()"><i class="fa fa-plus"></i> Add study</button>
      </fieldset>
    </form>
  </script>
</body>

</html>
